body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.grid {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
  padding: 10px;
}
.grid-item input {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.preview {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}
